        <section id="slide">
            <h2 class="blind">just쇼핑몰</h2>
            <ul class="clear-fix">
                <li><img src="../images/slide1.png" id="slider" alt="dsjgklakdg"></li>
                <li><img src="../images/slide2.png" id="slider" alt="2424er"></li>
                <li><img src="../images/slide3.png" id="slider" alt="4ed3tv"></li>
            </ul>
        </section>
<div id="contents" class="clear-fix">
    <section class="news">
        <h2 class="title on">공지사항</h2>
        <ul class="notice">
            {{#each notice}}
            <li><a href="/notice/{{_id}}">{{title}}</a><span>{{date}}</span></li>
            {{/each}}
        </ul>
        <h2 class="title">갤러리</h2>
        <ul class="gallery">
            <li><a href="#"><img src="../images/gallery1.gif" alt=""></a></li>
            <li><a href="#"><img src="../images/gallery2.gif" alt=""></a></li>
            <li><a href="#"><img src="../images/gallery3.gif" alt=""></a></li>
        </ul>
    </section>
    <section class="banner">
        <h2 class="title on">배너</h2>
        <p class="banner_content">
            <img src="../images/banner.jpg" alt="">
        </p>
    </section>
    <section class="quick">
        <h2 class="title on">바로가기</h2>
        <p class="quick_content">
            <a href="/board"><img src="../images/direct.jpg" alt=""></a>
        </p>
    </section>
</div>
